# Node
node_modules/
npm-debug.log
yarn-error.log

# Build
dist/
build/

# Env files
.env
.env.local
.env.development
.env.production

# Logs
logs/
*.log

# Prisma
prisma/dev.db
prisma/migrations/

# Coverage reports
coverage/

# IDE / OS files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
